head
  title Bruno Pinela
  link(href='favicon.ico', rel='icon' type='image/x-icon')
  link(
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",
    rel="stylesheet"
  )