section#left-sidebar
  .logo
    a.link-scroll(href='#intro')
      span Pinela
  //- #mobile-menu-icon.visible-xs(onclick='toggle_main_menu();')
  //-   span.glyphicon.glyphicon-th
  ul#main-menu
    li#menu-item-text.menu-item.scroll
      a(href='#text') About me
    li#menu-item-carousel.menu-item.scroll
      a(href='#carousel') Articles
    li#menu-item-grid.menu-item.scroll
      a(href='#grid') Projects
    li#menu-item-featured.menu-item.scroll
      a(href='#featured') Experience so far
    li#menu-item-contact.menu-item.scroll
      a(href='#contact') Contact
  
  div.footer
    ul.social-icons
      li
        a(href='https://github.com/pineladsn' target='_blank' title='Github')
          i.fa.fa-github
      li
        a(href='https://www.linkedin.com/in/bruno-pinela/' target='_blank' title='Linkedin')
          i.fa.fa-linkedin
      li
        a(href='https://www.linkedin.com/in/bruno-pinela/' target='_blank' title='Skype')
          i.fa.fa-skype
      li
        a(href='https://www.linkedin.com/in/bruno-pinela/' target='_blank' title='Slack')
          i.fa.fa-slack