doctype html
html(lang="en")
  head
    title Bruno Pinela
    link(href='favicon.ico', rel='icon' type='image/x-icon')
  body
    div.typewriter
      h1 Under maintenance
    footer © 2019 - WebSite built with ☕ and ❤ by Bruno Pinela