doctype html
html(lang="en")
  include view/head.pug
  body
    include view/left-sidebar.pug
    //- div.typewriter
    //-   h1 Under maintenance
    footer © 2019 - WebSite built with ☕ and ❤ by Bruno Pinela